@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: theme("colors.slate.700");
  --color-accent-hover: theme("colors.slate.800");
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  body {
    @apply bg-white text-neutral-800 antialiased;
  }
}
